

<div layout = 'column'>
  <md-button class="md-warn" type="submit" name="action" ng-click = "addItemStart()" ng-show = '!newItemFormShow'>Add an Item
  <i class="material-icons right">send</i>
</button>
</div>
<div ng-show = "newItemFormShow">
  <!-- type of item -->
  <div>
    <select ng-model = "newItem.type">
      <option value="" disabled selected>Choose your option</option>
      <option value="dish">Dish</option>
      <option value="dessert">Dessert</option>
      <option value="drink">Drink</option>
    </select>
    <label>Add a Menu Item</label>
  </div>

<div class="row" >
  <form>
    <div class="row">
      <div class="input-field">
        <input placeholder="Item's name?" id="first_name" ng-model="newItem.name"type="text" class="validate">
        <label for="first_name">What's the new item's name?</label>
      </div>
      <div class="input-field">
        <input placeholder="Item's price?" id="first_name" ng-model="newItem.price"type="number" class="validate">
        <label>How much does it cost?</label>
      </div>
      <md-input-container>
        <label>Add a description for the new item</label>
        <input type="text" ng-model="newItem.description">
      </md-input-container>
      <div>
        <input placeholder="Add a picture URL" id="first_name" ng-model="newItem.picture"type="text">

      </div>

    </div>
  </form>
</div>

<div><span>Ingredients for one serving of the new dish:</span>

</div>

<div class = 'md-accent hue-2'>


  <form ng-if ="areAddingIngredients" ng-submit="addIngredient(ingredientName,ingredientsIncrement,numberOfIncrements)">
    Enter text and hit enter:
    <input type="text" placeholder="Name of the ingredient to add to the new item" ng-model="ingredientName" name="text" />
    <input type = "text" placeholder="Units in(oz, lbs, ect)?" ng-model= 'ingredientsIncrement' name ='increment'/>
    <input type= 'text' placeholder="How many?" ng-model="numberOfIncrements" name = 'number'>

    <input type="submit" id="submit" value="Add ingredient!" />
    <pre>will need: {{newItem.ingredients}}</pre>

  </form>
  <md-button class="md-warn md-raised" ng-show ="areAddingIngredients== true" ng-click = "doneAddingIngredients()" flex>Done Adding ingredients</md-button>
  <md-button class="md-accent md-raised" ng-show ="areAddingIngredients== false" ng-click = "addingIngredients()" flex>Add more ingredients</md-button>
  <md-button class="md-accent md-raised" ng-show ="addingANewItem" ng-click = "newItemAllDone()" flex>Save new item</md-button>



</div>
