
  <md-toolbar class="md-whiteframe-z3"  layout-fill = 'center center'>

      <!-- fill up the space between left and right area -->
<div layout="column" layout-wrap>
      <div flex layout='column'><span>Restaurant Inventory</span>

        </div>
        <div flex='66' layout='row' layout-align="end center">
      <md-button class="md-accent md-raised" href="/#/home" flex>Home</md-button>
      <md-button class="md-accent md-raised" href="/#/dishes" flex >Dishes</md-button>
      <md-button class="md-accent md-raised" href="/#/drinks" flex>Drinks</md-button>
      <md-button class="md-accent md-raised" href="/#/desserts" flex>Desserts</md-button>
      <md-button class="md-accent md-raised" href="/#/tableHistory" flex>Your Orders</md-button>
      <md-button class="md-accent md-raised" href="/#/management"flex>Management</md-button>

    </div>


</div>


  </md-toolbar>




<!-- Dropdown Structure -->


<!--
<div class = 'navBar'>
  <ul class = 'navBarContainer'>
  <li class = 'z-depth-4 waves-effect waves-light btn'><a class = 'navLinkText' href = '/#/home'>Home</a></li>
  <li class = 'z-depth-4 waves-effect waves-light btn'><a  class = 'navLinkText' href = '/#/about'>About</a></li>
  <li class = 'z-depth-4 waves-effect waves-light btn'>
    <a  class = 'navLinkText' href = '/#/familyAndCommunity'>Family and Community</a></li>
  <li class = 'z-depth-4 waves-effect waves-light btn'>
    <a  class = 'navLinkText' href = '/#/jobQuestions'>Job Related</a></li>
  <li class = 'z-depth-4 waves-effect waves-light btn'>
    <a  class = 'navLinkText' href = '/#/legalIssues'>Legal Issues</a></li>
  <li class = 'z-depth-4 waves-effect waves-light btn'>
    <a  class = 'navLinkText' href = '/#/stories'>Stories</a></li>

  </ul>
</div> -->
