
  <md-toolbar class="md-whiteframe-z3 topNav"  layout = 'row' layout-align = 'space-between center'>



      <div><md-button flex md-ripple-size="full" class="md-accent md-raised" href="/#/home" flex>Home</md-button>
      <md-button flex md-ripple-size="full" class="md-accent md-raised" href="/#/dishes" flex >Dishes</md-button>
      <md-button flex md-ripple-size="full" class="md-accent md-raised" href="/#/drinks" flex>Drinks</md-button>
      <md-button flex md-ripple-size="full" class="md-accent md-raised" href="/#/desserts" flex>Desserts</md-button>
      <md-button flex md-ripple-size="full" class="md-accent md-raised" href="/#/management"flex>Management</md-button>
    <div class = 'title'>Product Inventory</div></div>




  </md-toolbar>
