
<md-list layout-margins layout= "column" ng-repeat="food in type">
  <md-list-item layout-padding>
    <h3 flex layout-padding>{{food.name}}</h3>
    <img  flex layout-padding ng-src = "{{food.picture}}"></img>
    <h4  flex layout-padding>{{food.description}}</h4>

    <ul flex layout-padding><h4>Contains:</h4><li ng-repeat = 'part in food.ingredients'>{{part.name}}</li></ul>

    **Only ${{food.price}}!
    <md-button ng-click = "enoughIngredients(food)">Check availability</md-button>

  <md-button flex class = 'md-warn' ng-click = "removeItem(food.$id, food.type)">Remove This Item</md-button>

  </md-list-item>
</md-list>
